<div style="background-color:#92a8d1; text-align:center; font-size: 450%;">
    <div style="background-color:blac; text-align:center; margin-top: 0%;">
        <h3>Best Rated Service Providers</h3>
    <table border="1">
        <th>Service Provider Id</th>
         <th>Name</th>
         <th>Average Rating</th>
        {% for bdetail in bdetails %}
            <tr>
                <td>{{bdetail.id}}</td>
                <td>{{bdetail.first_name}}{{bdetail.last_name }}</td>
                <td>{{bdetail.avg_rating}}</td>
            </tr>

        {% endfor %}
    </table>
    </div>
</div>