<div style="background-color:#92a8d1; text-align:center; font-size: 450%;">
    <div style="background-color:blac; text-align:center; margin-top: 0%;">
        <h3>Home</h3>
        <button type="submit'"><a href="/registeruser">Register User</a></button>
        <button type="submit'"><a href="/bookappointment">Book Appointment</a></button>
        <button type="submit'"><a href="/bookingdetails">Booking Details</a></button>
        <button type="submit'"><a href="/employeedetails">Employee Details</a></button>
        <button type="submit'"><a href="/report">Report</a></button>
        <button type="submit'"><a href="/bestrated">Best Rated Providers</a></button>
        <button type="submit'"><a href="/inferiorfeedback">Inferior Feedback by Customers</a></button>

    </div>
</div>